@model Estacionamento.Models.Veiculo

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Veículo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="PLACA" class="control-label"></label>
                <input asp-for="PLACA" class="form-control" />
                <span asp-validation-for="PLACA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HORAENT" class="control-label"></label>
                <input asp-for="HORAENT" class="form-control" />
                <span asp-validation-for="HORAENT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HORASAI" class="control-label"></label>
                <input asp-for="HORASAI" class="form-control" />
                <span asp-validation-for="HORASAI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
